@model SDS.Models.Course

@{
    ViewData["Title"] = "Comments";
}

<h1>Comments</h1>

<h3>Enter only one comment od the course @Html.DisplayFor(model => model.Name)</h3>
<div id="divComment">
    
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
    </dl>

     <input style="margin-bottom: 30px" type="text" id="idComment" name="name" required
       minlength="4" size="100">
         <button id="btnComment" type="button" onclick="addComment()";>Add Comment</button>

         <h3>Comments of others studients</h3>

         <ul id= "listComment">
             
            
         </ul>
        
   

    


    <script type="text/javascript">

        function addComment(){
            const commentItem = document.createElement("li");
            const txtComment = document.createTextNode($('#idComment').val());
            commentItem.appendChild(txtComment);

            document.getElementById("listComment").appendChild(commentItem);
            $('#idComment').val("");
        }
        
        function addText()
        {
            $('#idComment').prop('disabled', true);
        }
    </script>






    <form asp-action="Comment">
           |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
