@model SDS.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quality)
        </dd>
        
        <dd class = "col-sm-10">

        <h3 style = "margin-top:40px">Advice of students about the course :  @Html.DisplayFor(model => model.Name) </h3>



            @if (Model.AllComments == null)
            {
                    <h2>Pas de Commetaire</h2>
                }
                else
                {
            <table style = "margin-top:40px ; margin-bottom:60px" class=".col-lg-6" id="myTable">
            <tr>
	            <td style="padding-right:150px ; font-weight: bold">COMMENT</td>
	            <td style="padding-right:10px ; font-weight: bold">DIFFICULTY</td>
	            <td style="font-weight: bold">QUALITY</td>
            </tr>
            @foreach (var item in Model.AllComments)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CommentStudent)</td>
                    <td>@Html.DisplayFor(modelItem => item.DifficultyC)</td>
                    <td>@Html.DisplayFor(modelItem => item.QualityC)</td>
                </tr>
            }
                    </table>
                }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<!--
    <ul>
             foreach(Comment c in Course.AllComments)
            {
                <li>c.CommentStudent</li>
            }
            </ul>
-->